body{
    overflow-x: hidden;
}
.layout-menu-collapsed{
    &.layout-menu-hover{
        .app-brand{
            justify-content: center;
            .app-brand-logo{
                display: flex;
                justify-content: center;
                margin: auto;
                width: 150px!important;
                margin: auto;
                img{
                    width: 150px!important;
                    margin: auto;
                
                }
            } 
        }
    }
    .app-brand{
        width: 100%;
        margin: 0;
        padding: 0;
        .app-brand-logo{
            img{
                width: 80px!important;
            }
        } 
    }
  
}
.user-profile-header{
    img{
        padding-top: 30px;
    }
}

.white-mode{
    .artwork-instruction{
        border: 1px solid #ffffff;
        padding: 15px;
        background: #fff;
        border: 1px solid #f3f3f3cc;
        color: #000;
    }
    .tab-content{
        padding-top: 0;
        padding: 15px 20px;
        background: #fff;
    }
    label{
        &.form-label{
            color: #000;
            font-weight: 700;
            font-size: 12px;
        }
    }
    
}
.dark-mode{
    .tab-content{
        background-color: #2b2c40;
    }
}

.click_btn{
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 600;
    color: blue;
}

.tabs-item{
    button{
        text-align: left;
        box-shadow: none;
    }
}
.release-card-intermediate{
    margin: 0 10px;
    .card-header{
        font-size: 18px;
        color: #000;
        font-weight: 600;
        padding-bottom: 10px;
        padding-left: 0;
    }
    .container{
        padding: 0;
        max-width: 100% !important;
    }
    .card{
        border: none;
        background: none;
        box-shadow: none;
        .card-body{
            padding: 0;
        }
    }
    .release-card {
        border: 1px solid #dee2e6;
        overflow: hidden;
        margin-bottom: 1rem;
        transition: transform 0.2s;
        background: #fff;
        img
        {
            width: 100%;
        }
        &:hover 
        {
            transform: scale(1.02);
        }
        img 
        {
            width: 100%;
            height: 300px;
            object-fit: cover;
        }
        .release-card-body {
            padding: 15px 15px;
            position: relative;
            background: #fff;

            .releast_heading{
                display: flex;
                justify-content: space-between;
                padding: 12px 0px;
            }
            .bg-warning{
                border-radius: 0;
                box-shadow: none;
            }
            .actions {
                position: absolute;
                top: auto;
                right: 1rem;
                bottom: 10px;
                .btn-primary{
                    border-radius: 0;
                    box-shadow: none;
                }
                .btn-danger{
                    border-radius: 0;
                    box-shadow: none;
                }
            }
           .actions {
                display: block;
            }
            .release-card-title {
                font-size: 16px;
                text-transform: uppercase;
                color: #000;
                font-weight: 700;
            }
            .release-card-status {
                display: inline-block;
                padding: 0.2rem 0.5rem;
                border-radius: 0.25rem;
                margin-bottom: 0.5rem;
                color: #fff;
                background-color: rgb(105 108 255) !important;
            }
            .release-card-date {
                font-size: 13px;
                color: #000000;
                font-weight: 600;
            }
            .badge{
                margin-top: 12px;
            }
        }
    }
}

.dark-mode
{
    .release-card-intermediate {
        .card-header {
            color: #fff;
        }
        .release-card{
            .release-card-body{
                .release-card-title{
                    color: #fff;
                }
                .release-card-date{
                    color: #fff;
                }
                .badge{
                    margin-top: 12px;
                }
            }
        }
    }
    
}


.dark-mode{
    .release_summary{
        h2{
            font-size: 20px;
            color: #fff;
            margin-bottom: 15px;
        }
        .card-title{
            font-size: 16px;
            font-weight: 800;
            color: #fff;
            margin-bottom: 15px;
        }
        p{
            color: #fff;
            font-size: 14px;
        }
        ul{
            li{
                color: #fff;
                font-size: 14px;
            }
        }
    }  
    .click_btn{
        color: white;
    }
    label{
        color: white;
    }
}
.release_summary{
    h2{
        font-size: 20px;
        color: #000;
    }
    .card-title{
        font-size: 16px;
        font-weight: 800;
        color: #000;
        margin-bottom: 15px;
    }
    p{
        color: #000;
        font-size: 14px;
    }
    ul{
        li{
            color: #000;
            font-size: 14px;
        }
    }
}
.search-container {
    position: relative;
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    max-width: 500px;
    input[type=text] {
        width: 100%;
        max-width: 500px;
        border-radius: 50px;
        margin: auto;
        padding: 13px;
        font-size: 18px;
        border: 1px solid #e7e7e7;
    }
    .icons {
        position: absolute;
        top: 51%;
        right: 18px;
        transform: translateY(-50%);
        i {
            cursor: pointer;
            margin-left: 5px;
            display: none;
            font-size: 24px;
            &#searchIcon{
                display: block;
            }
        }
        
    }
    #loadingIcon {
        display: none;
    }
}
.bg-menu-theme .menu-sub > .menu-item > .menu-link:before{
    background-color: #000000 !important;
}
.bg-menu-theme .menu-sub > .menu-item > .menu-link:before{
    width: 10px;
    height: 10px;
}
.white-mode{
    .card-header, .card-footer{
        font-size: 16px;
        font-weight: 700;
        color: #000!important;
    }
}
#example_wrapper{
    .dt-buttons {
        display: flex;
        justify-content: flex-end;
        .buttons-excel{
            text-align: center;
            max-width: 200px;
            margin-left: auto;
            background: #696cff;
            border: none;
        }
    }
}
div.dt-container div.dt-length label{
    text-transform: capitalize;
}
table.dataTable{
    border-collapse: collapse;
}
thead, tbody, tfoot, tr, td, th{
    padding: 5px;
}
.white-mode{
    thead, tbody, tfoot, tr, td, th{
        border: 1px solid #e5e5e5;
    }
    table.dataTable thead th{
        font-weight: 800;
        color: #000;
    }
    div.dt-container div.dt-search{
        color: #000;
    }
    div.dt-container div.dt-length label{
        color: #000;
    }
    div.dt-container div.dt-info
    {
        color: #000; 
    }
    .page-item.disabled .page-link{
        color: #000; 
    }
    table.dataTable th, table.dataTable td{
        color: #000;
    }
}

.dark-mode{
    table.dataTable td,th{
        border: 1px solid;
    }
}
div.dt-container div.dt-search{
    margin-bottom: 12px;
    label{
        font-weight: 700;
    }
}
div.dt-container div.dt-length label{
    font-weight: 600;
    font-size: 14px;
}
div.dt-container div.dt-paging{
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 30px 0;
}
.dt-column-order{
    &::before{
        opacity: 0.8!important;
    }
    &::after{
        opacity: 0.8!important;
    }
}
.dataTable{
    .bg-label-primary,.bg-label-danger{
        background-color: transparent!important;
    }
}
.tab-content{
    form{
        button{
            margin-bottom: 30px;
            margin-top: 10px;
            width: 120px;
        }
    }
}
.release-nav-link{
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    padding: 12px 15px;
    background: #fff;
    height: 300px;
}  

