body {
  overflow-x: hidden;
}

.layout-menu-collapsed.layout-menu-hover .app-brand {
  justify-content: center;
}
.layout-menu-collapsed.layout-menu-hover .app-brand .app-brand-logo {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 150px !important;
  margin: auto;
}
.layout-menu-collapsed.layout-menu-hover .app-brand .app-brand-logo img {
  width: 150px !important;
  margin: auto;
}
.layout-menu-collapsed .app-brand {
  width: 100%;
  margin: 0;
  padding: 0;
}
.layout-menu-collapsed .app-brand .app-brand-logo img {
  width: 80px !important;
}

.user-profile-header img {
  padding-top: 30px;
}

.white-mode .artwork-instruction {
  border: 1px solid #ffffff;
  padding: 15px;
  background: #fff;
  border: 1px solid rgba(243, 243, 243, 0.8);
  color: #000;
}
.white-mode .tab-content {
  padding-top: 0;
  padding: 15px 20px;
  background: #fff;
}
.white-mode label.form-label {
  color: #000;
  font-weight: 700;
  font-size: 12px;
}

.dark-mode .tab-content {
  background-color: #2b2c40;
}

.click_btn {
  background: none;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 600;
  color: blue;
}

.tabs-item button {
  text-align: left;
  box-shadow: none;
}

.release-card-intermediate {
  margin: 0 10px;
}
.release-card-intermediate .card-header {
  font-size: 18px;
  color: #000;
  font-weight: 600;
  padding-bottom: 10px;
  padding-left: 0;
}
.release-card-intermediate .container {
  padding: 0;
  max-width: 100% !important;
}
.release-card-intermediate .card {
  border: none;
  background: none;
  box-shadow: none;
}
.release-card-intermediate .card .card-body {
  padding: 0;
}
.release-card-intermediate .release-card {
  border: 1px solid #dee2e6;
  overflow: hidden;
  margin-bottom: 1rem;
  transition: transform 0.2s;
  background: #fff;
}
.release-card-intermediate .release-card img {
  width: 100%;
}
.release-card-intermediate .release-card:hover {
  transform: scale(1.02);
}
.release-card-intermediate .release-card img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.release-card-intermediate .release-card .release-card-body {
  padding: 15px 15px;
  position: relative;
  background: #fff;
}
.release-card-intermediate .release-card .release-card-body .releast_heading {
  display: flex;
  justify-content: space-between;
  padding: 12px 0px;
}
.release-card-intermediate .release-card .release-card-body .bg-warning {
  border-radius: 0;
  box-shadow: none;
}
.release-card-intermediate .release-card .release-card-body .actions {
  position: absolute;
  top: auto;
  right: 1rem;
  bottom: 10px;
}
.release-card-intermediate .release-card .release-card-body .actions .btn-primary {
  border-radius: 0;
  box-shadow: none;
}
.release-card-intermediate .release-card .release-card-body .actions .btn-danger {
  border-radius: 0;
  box-shadow: none;
}
.release-card-intermediate .release-card .release-card-body .actions {
  display: block;
}
.release-card-intermediate .release-card .release-card-body .release-card-title {
  font-size: 16px;
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
}
.release-card-intermediate .release-card .release-card-body .release-card-status {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
  color: #fff;
  background-color: rgb(105, 108, 255) !important;
}
.release-card-intermediate .release-card .release-card-body .release-card-date {
  font-size: 13px;
  color: #000000;
  font-weight: 600;
}
.release-card-intermediate .release-card .release-card-body .badge {
  margin-top: 12px;
}

.dark-mode .release-card-intermediate .card-header {
  color: #fff;
}
.dark-mode .release-card-intermediate .release-card .release-card-body .release-card-title {
  color: #fff;
}
.dark-mode .release-card-intermediate .release-card .release-card-body .release-card-date {
  color: #fff;
}
.dark-mode .release-card-intermediate .release-card .release-card-body .badge {
  margin-top: 12px;
}

.dark-mode .release_summary h2 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 15px;
}
.dark-mode .release_summary .card-title {
  font-size: 16px;
  font-weight: 800;
  color: #fff;
  margin-bottom: 15px;
}
.dark-mode .release_summary p {
  color: #fff;
  font-size: 14px;
}
.dark-mode .release_summary ul li {
  color: #fff;
  font-size: 14px;
}
.dark-mode .click_btn {
  color: white;
}
.dark-mode label {
  color: white;
}

.release_summary h2 {
  font-size: 20px;
  color: #000;
}
.release_summary .card-title {
  font-size: 16px;
  font-weight: 800;
  color: #000;
  margin-bottom: 15px;
}
.release_summary p {
  color: #000;
  font-size: 14px;
}
.release_summary ul li {
  color: #000;
  font-size: 14px;
}

.search-container {
  position: relative;
  display: block;
  margin: auto;
  text-align: center;
  margin-top: 50px;
  max-width: 500px;
}
.search-container input[type=text] {
  width: 100%;
  max-width: 500px;
  border-radius: 50px;
  margin: auto;
  padding: 13px;
  font-size: 18px;
  border: 1px solid #e7e7e7;
}
.search-container .icons {
  position: absolute;
  top: 51%;
  right: 18px;
  transform: translateY(-50%);
}
.search-container .icons i {
  cursor: pointer;
  margin-left: 5px;
  display: none;
  font-size: 24px;
}
.search-container .icons i#searchIcon {
  display: block;
}
.search-container #loadingIcon {
  display: none;
}

.bg-menu-theme .menu-sub > .menu-item > .menu-link:before {
  background-color: #000000 !important;
}

.bg-menu-theme .menu-sub > .menu-item > .menu-link:before {
  width: 10px;
  height: 10px;
}

.white-mode .card-header, .white-mode .card-footer {
  font-size: 16px;
  font-weight: 700;
  color: #000 !important;
}

#example_wrapper .dt-buttons {
  display: flex;
  justify-content: flex-end;
}
#example_wrapper .dt-buttons .buttons-excel {
  text-align: center;
  max-width: 200px;
  margin-left: auto;
  background: #696cff;
  border: none;
}

div.dt-container div.dt-length label {
  text-transform: capitalize;
}

table.dataTable {
  border-collapse: collapse;
}

thead, tbody, tfoot, tr, td, th {
  padding: 5px;
}

.white-mode thead, .white-mode tbody, .white-mode tfoot, .white-mode tr, .white-mode td, .white-mode th {
  border: 1px solid #e5e5e5;
}
.white-mode table.dataTable thead th {
  font-weight: 800;
  color: #000;
}
.white-mode div.dt-container div.dt-search {
  color: #000;
}
.white-mode div.dt-container div.dt-length label {
  color: #000;
}
.white-mode div.dt-container div.dt-info {
  color: #000;
}
.white-mode .page-item.disabled .page-link {
  color: #000;
}
.white-mode table.dataTable th, .white-mode table.dataTable td {
  color: #000;
}

.dark-mode table.dataTable td, .dark-mode th {
  border: 1px solid;
}

div.dt-container div.dt-search {
  margin-bottom: 12px;
}
div.dt-container div.dt-search label {
  font-weight: 700;
}

div.dt-container div.dt-length label {
  font-weight: 600;
  font-size: 14px;
}

div.dt-container div.dt-paging {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.dt-column-order::before {
  opacity: 0.8 !important;
}
.dt-column-order::after {
  opacity: 0.8 !important;
}

.dataTable .bg-label-primary, .dataTable .bg-label-danger {
  background-color: transparent !important;
}

.tab-content form button {
  margin-bottom: 30px;
  margin-top: 10px;
  width: 120px;
}

.release-nav-link {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  padding: 12px 15px;
  background: #fff;
  height: 300px;
}/*# sourceMappingURL=custom.css.map */